.btn {
    @include text-bold();
    position: relative;
    color: #fff;
    background-color: $color-btn;
    text-align: center;
    width: 46px;
    height: 48px;
    border: none;
    display: block;
    &--hotel {
        margin: 35px 0 50px 0;
        font-size: 21px;
        padding: 16px 0;
        height: 58px;
        box-sizing: border-box;
        width: 280px;
    }
    &--form {
        display: inline-block;
        margin: 47px 0 20px 0;
        font-size: 21px;
        padding: 16px 0;
        height: 58px;
        box-sizing: border-box;
        width: 280px;
    }
}

.btn_text {
    @include visually-hidden;
}

@media (min-width: 768px) {
    .btn {
        &--form {
            width: 324px;
            margin: 95px 0 10px 0;
        }
        &--hotel {
            width: 458px;
            margin: 0 0 2px 0;
        }
    }
}

@media (min-width: 1280px) {
    .btn {
        &--hotel {
            margin: 4px 0 2px 0;
        }
        &--form {
            width: 480px;
        }
    }
}
