.content-block {
    text-align: center;
    height: 204px;
    box-sizing: border-box;
    padding-top: 38px;
    &--index {
        padding-top: 41px;
        height: 224px;
    }
    &--list {
        text-align: left;
        list-style: none;
        height: auto;
        padding-top: 0;
    }
    &--advance {
        background-color: $color-btn;
        height: 192px;
        padding: 40px 0 5px 0;
    }
    &--simple {
        height: 166px;
        padding: 24px 0 0 0;
    }
    &--hotel {
        height: 224px;
    }
}

.content-block__title {
    @include text-bold();
    &--advance {
        color: #fff;
    }
    &--hotel {
        font-size: 21px;
        margin-bottom: -10px;
        display: block;
    }  
}

.content-block__desc {
    @include text-light();
    margin-top: 28px;
    position: relative;
    &--index {
        line-height: 26px;
    }
    &--list {
        margin-top: 13px;
        line-height: 21px;
    }
    &--advance {
        color: #fff;
        margin-top: 45px;
        line-height: 21px;
    }
    &--simple {
        margin-top: 46px;
        line-height: 21px;
    }
    &--hotel {
        line-height: 24px;
    }
}

.content-block__number {
    position: absolute;
    top: -36px;
    @include center(60px);
}
