@import "../mixins.scss";

.main-nav {
    height: 223px;
    position: relative;
}

.main-nav__item {
    background-color: $color-btn;
    height: 56px;
    width: $width-mobile;
    @include text-bold();
    color: #fff;
    text-align: center;
    padding: 16px 0 0 0;
    box-sizing: border-box;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
    & a {
        text-decoration: none;
        color: #fff;
    }
    &:hover {
        background-color: #669ec0;
    }
    &:active {
        background-color: #5496bd;
    }
    &:active a{
        opacity: 0.3;
    }
}

.main-nav__list {
    @include style-list;
    margin: 0;
}

.main-nav__close {
    background: transparent;
    border: none;
    position: absolute;
    width: 23px;
    height: 23px;
    right: 20px;
    top: 17px;
    &::before {
        background: transparent url(../img/icon-cross.svg) no-repeat;
        width: 23px;
        height: 23px;
        position: absolute;
        content: "";
        top: 0;
        right: 0;
    }
}

@media (min-width: 768px) {
    .main-nav {
        height: 57px;
        width: 100%;
    }
    .main-nav__item {
        background-color: #fff;
        color: #000;
        font-size: 14px;
        border-bottom: none;
        border-top: none;
        & a {
            color: #000;
        }
        &:hover {
            color: $color-btn;
            background-color: #fff;
        }
        &:hover a {
            color: $color-btn;
        }
        &:active {
            color: #000;
            opacity: 0.3;
            background-color: #fff;
        }
        &:active a {
            color: #000;
            opacity: 0.3;
        }
        &--active a {
            color: #766357;
        }
        &--active:hover a {
            color: #604e43;
        }
        &--active:active a {
            color: #766357;
            opacity: 0.3;
        }
        &:nth-child(2) {
              margin-right: 150px;
        }
    }
    .main-nav__list {
        display: flex;
    }
    .main-nav__close {
        display: none;
    }
}

@media (min-width: 1280px) {
    .main-nav__item:nth-child(2) {
        margin-right: 242px;
    }
}
