.page-main {
    width: $width-mobile;
}

.page-main__list {
    @include style-list;
    margin-top: 17px;
}

.page-main__item {
    background-color: #eeeeee;
    &--advance {
        background-color: #fff;
    }
    &--simple {
        min-height: 145px;
        box-sizing: border-box;
        padding: 22px 20px 8px 20px;
        margin-bottom: 8px;
    }
}

.page-main__hotel {
    position: relative;
    box-sizing: border-box;
    min-height: 180px;
    padding: 15px 20px 0 20px;
}

.page-main__city {
    min-height: 305px;
    display: flex;
    flex-direction: column;
    padding: 32px 30px 8px 70px;
    box-sizing: border-box;
}

.page-main__subtitle {
    @include text-bold();
    text-align: center;
    display: block;
}

.page-main__block {
    margin-top: 0;
    padding: 18px 20px 30px 20px;
    box-sizing: border-box;
    &--name {
        height: 306px;
    }
    &--contacts {
        height: 287px;
    }
    &--impress {
        height: 289px;
    }
    &--visited {
        height: 409px;
    }
    &--details {
        height: 378px;
       
    }
}

.page-main__comment {
    margin-top: -10px;
    margin-bottom: -4px;
}
.page-main__gallery {
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

.page-main__gallery-photo {
    height: 392px;
    box-sizing: border-box;
    margin-top: 23px;
}

.page-main__gallery-title {
    @include text-bold();
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-top: 10px;
}

.page-main__gallery-desc {
    display: block;
    @include text-light();
    text-transform: capitalize;
}

.page-main__gallery-likes {
    @include text-bold();
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-top: 10px;
}

.page-main__gallery-video {
    min-height: 415px;
    margin-top: -5px;
    padding-bottom: 63px;
    box-sizing: border-box;
}

.page-main__video {
    margin-top: 7px;
    margin-left: -20px;
}

@media (min-width: 768px) {
    .page-main {
    width: $width-tablet;
    }
    .page-main__gallery {
        padding: 0 60px;
        display: flex;
        flex-wrap: wrap;
    }
    .page-main__gallery-photo {
        position: relative;
        height: 348px;
        margin: 0;
        width: 324px;
        &--first {
            height: 480px;
            margin-top: 23px;
            width: 648px;
        }
    }
    .page-main__gallery-img {
        & img {
            width: 324px;
            height: 267px;
        }
        &--first img {
            width: 648px;
            height: 400px;
        }
    }
    .page-main__gallery-title,
    .page-main__gallery-desc {
        margin-left: 20px;
    }
    .page-main__gallery-likes {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }
}
