.page-footer {
    position: relative;
    padding: 28px 0 23px 0;
    height: 236px;
    box-sizing: border-box;
    width: $width-mobile;
    margin: auto;
    background-color: #fff;
    &--photo {
        padding: 74px 0 23px 0;
        height: 282px;
    }
}
.page-footer__hashtag {
    @include text-bold();
    font-size: 21px;
    width: 136px;
    margin: auto;
    display: block;
}

.page-footer__social {
    width: 151px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 36px;
}

.page-footer__copyright {
    display: block;
    width: 90px;
    margin: auto;
    margin-top: 43px;
    @include text-light();
    position: relative;
    left: -15px;
    &:before {
        position: absolute;
        content: "";
        width: 60px;
        height: 60px;
        right: -50px;
        top: -18px;
        transform: scale(0.7);
        background: transparent url(../../img/htmlacademy.svg) no-repeat;
    }
}

@media (min-width: 768px) {
    .page-footer {
        padding: 0;
        display: flex;
        align-items: center;
        width: $width-tablet;
        height: 120px;
        margin-top: 42px;
        &--index {
            margin-top: -6px;
        }
        &--photo {
            margin-top: 0;
        }
    }
    .page-footer__hashtag {
        margin-left: 60px;
    }
    .page-footer__social {
        margin-left: 45px;
    }
    .page-footer__copyright {
        margin-top: 47px;
        margin-right: 80px;
    }
}
@media (min-width: 1280px) {
    .page-footer {
        width: $width-page-desk;
        &--photo {
            margin-top: 42px;
        }
    }
    .page-footer__hashtag {
        margin-left: 130px;
    }
    .page-footer__copyright {
        margin-right: 65px;
    }
    .page-footer__social {
        margin-left: 75px;
    }
}
