.page-footer {
    position: relative;
    padding: 28px 0 23px 0;
    height: 236px;
    box-sizing: border-box;
    width: $width-mobile;
    &--photo {
        padding: 74px 0 23px 0;
        height: 282px;
    }
}
.page-footer__hashtag {
    @include text-bold();
    font-size: 21px;
    width: 136px;
    margin: auto;
    display: block;
}

.page-footer__social {
    width: 151px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 36px;
}

.page-footer__copyright {
    display: block;
    width: 90px;
    margin: auto;
    margin-top: 43px;
    @include text-light();
}

@media (min-width: 768px) {
    .page-footer {
        padding: 0;
        display: flex;
        align-items: center;
        width: $width-tablet;
        height: 120px;
        margin: 42px 0 0 0;
        &--index {
            margin: -9px 0 0 0;
        }
        &--photo {
            margin: 0;
        }
    }
    .page-footer__hashtag {
        margin-left: 60px;
    }
    .page-footer__social {
        margin-left: 52px;
    }
    .page-footer__copyright {
        margin-top: 47px;
        margin-right: 100px;
    }
}
@media (min-width: 1200px) {
    .page-footer {
        width: $width-page-desk;
        &--photo {
            margin: 42px 0 0 0;
        }
    }
    .page-footer__hashtag {
        margin-left: 170px;
    }
    .page-footer__copyright {
        margin-right: 40px;
    }
    .page-footer__social {
        margin-left: 80px;
    }
}
