.page-main {
    width: $width-mobile;
    margin: auto;
}

.page-main__list {
    @include style-list;
    margin-top: 17px;
    margin-bottom: 9px;
}

.page-main__item {
    background-color: #eeeeee;
    &--advance {
        background-color: #fff;
    }
    &--simple {
        min-height: 153px;
        box-sizing: border-box;
        padding: 22px 20px 15px 20px;
    }
    &--bridge {
        background-color: #eeeeee;
    }
}

.page-main__hotel {
    position: relative;
    box-sizing: border-box;
    min-height: 180px;
    padding: 15px 20px 0 20px;
}

.page-main__city {
    min-height: 305px;
    display: flex;
    flex-direction: column;
    padding: 32px 30px 8px 70px;
    box-sizing: border-box;
}

.page-main__subtitle {
    @include text-bold();
    text-align: center;
    display: block;
}

.page-main__block {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 18px 20px 30px 20px;
    box-sizing: border-box;
    &--name {
        height: 306px;
    }
    &--contacts {
        height: 287px;
    }
    &--impress {
        height: 289px;
    }
    &--visited {
        height: 409px;
    }
    &--details {
        height: 378px;
    }
}

.page-main__comment {
    margin-top: -10px;
    margin-bottom: -4px;
    display: flex;
    flex-direction: column;
}
.page-main__gallery {
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.page-main__gallery-photo {
    height: 392px;
    box-sizing: border-box;
    margin-top: 23px;
}

.page-main__gallery-info {
    display: flex;
    flex-direction: column;
}

.page-main__gallery-title {
    @include text-bold();
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-top: 10px;
}

.page-main__gallery-desc {
    display: block;
    @include text-light();
    text-transform: capitalize;
}

.page-main__gallery-likes {
    @include text-bold();
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-top: 10px;
}

.page-main__gallery-video {
    display: flex;
    flex-direction: column;
    min-height: 415px;
    margin-top: -5px;
    padding-bottom: 63px;
    box-sizing: border-box;
}

.page-main__video {
    margin-top: 7px;
    margin-left: -20px;
}

.page-main__sup {
    display: none;
}

@media (min-width: 768px) {
    .page-main {
    width: $width-tablet;
    }
    .page-main__gallery {
        padding: 0 60px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .page-main__gallery-photo {
        position: relative;
        height: 348px;
        margin: 0;
        width: 324px;
        &--first {
            height: 480px;
            margin-top: 23px;
            width: 648px;
        }
    }
    .page-main__gallery-img {
        & img {
            width: 324px;
            height: 267px;
        }
        &--first img {
            width: 648px;
            height: 400px;
        }
    }
    .page-main__gallery-title,
    .page-main__gallery-desc {
        margin-left: 20px;
    }
    .page-main__gallery-likes {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }
    .page-main__gallery-video {
        margin-top: -12px;
        padding-bottom: 0;
        margin-bottom: 37px;
    }
    .page-main__video {
        margin: 26px 0 0 0;
        & img {
            width: 648px;
            height: 500px;
        }
    }
    .page-main__comment {
        margin-top: 28px;
        padding: 0 60px 0 60px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .page-main__block {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        &--name {
            order: 2;
            height: 365px;
            width: 324px;
            padding-left: 57px;
        }
        &--contacts {
            order: 3;
            height: 308px;
            width: 648px;
        }
        &--impress {
            order: 1;
            height: 365px;
            width: 324px;
            padding-right: 51px;
        }
        &--visited {
            order: 4;
            height: 307px;
            width: 648px;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 65px 0 65px;
        }
        &--details {
            flex-direction: row;
            flex-wrap: wrap;
            order: 5;
            height: 382px;
            width: 648px;
        }
    }
    .page-main__subtitle {
        font-size: 21px;
        &--big {
            width: 648px;
        }
    }
    .page-main__list {
        margin-top: -13px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }
    .page-main__item {
        display: flex;
        flex-wrap: wrap;
        &--simple {
            margin: 0;
            padding: 0;
        }
    }
    .page-main__photo-item img {
        width: 512px;
        height: 256px;
    }
    .page-main__city {
        flex-direction: row;
        padding: 0;
    }
    .page-main__hotel {
        padding: 0 156px 58px 156px;
    }
    .page-main__map iframe {
        width: $width-tablet;
        height: 350px;
    }
    .page-main__sup {
        margin: 204px 0 16px 157px;
        display: inline-block;
        @include text-light();
    }
}

@media (min-width: 1280px) {
    .page-main {
        width: $width-page-desk;
        margin: auto;
        background-color: #fff;
    }
    .page-main__gallery {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .page-main__gallery-photo {
        position: relative;
        height: 267px;
        margin: 0;
        width: 400px;
        &--first {
            height: 400px;
            margin-top: 23px;
            width: 1200px;
        }
    }
    .page-main__gallery-img {
        & img {
            width: 400px;
            height: 267px;
        }
        &--first img {
            width: 1200px;
            height: 400px;
        }
    }
    .page-main__gallery-info {
        height: 80px;
        margin-top: -83px;
        background-color: #000;
        opacity: 0.5;
    }
    .page-main__gallery-title,
    .page-main__gallery-desc,
    .page-main__gallery-likes {
        color: #fff;
    }
    .page-main__gallery-title {
        margin-top: 14px;
    }
    .page-main__gallery-video {
        min-height: 250px;
        margin-top: -40px;
        padding-bottom: 0;
        margin-bottom: 37px;
    }
    .page-main__video {
        margin: 24px 200px 0 200px;
        & img {
            width: 800px;
            height: 500px;
        }
    }
    .page-main__list {
        margin-top: -13px;
        display: flex;
        flex-wrap: wrap;
    }
    .page-main__item {
        display: flex;
        flex-wrap: wrap;
        &--simple {
            margin: 0;
            padding: 0;
            width: 400px;
            height: 256px;
        }
    }
    .page-main__photo-item img {
        width: 800px;
        height: 256px;
    }
    .page-main__hotel {
        padding: 0 370px 64px 370px;
    }
    .page-main__map iframe {
        width: $width-page-desk;
        height: 350px;
    }
    .page-main__comment {
        margin-top: 12px;
        padding: 0 120px 0 120px;
        display: flex;
        flex-wrap: wrap;
    }
    .page-main__block {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        &--name {
            order: 2;
            height: 365px;
            width: 480px;
            padding-left: 57px;
        }
        &--contacts {
            order: 3;
            height: 210px;
            width: 960px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &--impress {
            order: 1;
            height: 365px;
            width: 480px;
            padding-right: 51px;
        }
        &--visited {
            order: 4;
            height: 217px;
            width: 960px;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &--details {
            order: 5;
            height: 386px;
            width: 960px;
        }
    }
    .page-main__subtitle {
        &--big {
            display: block;
            text-align: center;
            margin: 0 280px 0 280px;
            width: 960px;
        }
    }
    .page-main__sup {
        margin: 195px 0 18px 313px;
    }
}
